body {
  width: 100%; 
  margin: 0 auto; 
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.logo {
  display: block;
  width: 100%;
}

.logo img {
  height: 25%;
  width: 100%;
  /* margin-left: 30%; */
  /* margin-top: 2% ; */
}

.div-login{
  border: 2px solid #e7eaef;
  border-radius: 10%;
  width: max-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 4%;
  opacity: 0.8;
  background-color: #152238;
  background: rgba(245, 245, 249, 0.758);
}
.quick-action{
  margin: 4%;
  border: 1px solid rgb(12, 10, 8);
  border-radius: 4%;
  padding: 2%;
  width: fit-content;
}

.quick-nav {
  margin: 4%;
  font-size: 2px;
  width: fit-content;
}

.quick-action h1{
  text-align: center;
  color: #276D8D;
}
.confirmed-projects{
  border: 1px solid rgb(9, 9, 8);
  margin: 4%;
  padding: 4%;
  border-radius: 2%;
}

.confirmed-projects h4{
  font-size: 15px;
  text-align:center;
}

.table-content table{
  padding: 1%;
  border: 1px solid rgb(9, 9, 8);
}



.main-dashboard div{
  width: fit-content;
}

.item-four{
  width: 100%;
}

.prj-tentative {
  border: 1px solid rgb(9, 9, 8);
  margin: 4%;
  padding: 4%;
  border-radius: 2%;
}
.dashboard-det{
margin-left: 20%;
background-color: #fff;
}

.main-dashboard{
  background-color: rgba(255, 255, 255)
}

.side-nav img{
  margin-top: 30%;
  width: fit-content;
  margin-left: 5%;
  margin-right: 5%;
}

.custom-login-button{
  background-color: transparent;
}


body {
  padding: 0;
  width: 100%; 
  margin: 0 auto; 
  overflow-x: hidden; 
}


.dashboard-container {
  width: 100%;
  background-color:#fff ;
}

.sidebar {
  width: 150px; 
  background-color: #333;
  color: #fff;
}

.content {
  padding: 10px;
  margin-left: 10%;
  left: 200px;

}

.quick-links,
.table-container {
  flex: 1;
  width: fit-content;
}


.table-container:last-child {
  margin-right: 0;
  margin-top: 20px; 
  width: fit-content;
  margin-left: 5%;
}

.table {
  width: 100%;
  margin-bottom: 20px; 
  border: 1px solid #ddd;
} 

