.logo {
  display: block;
}

.logo img {
  height: 25%;
  width: 50%;
  margin-left: 30%;
  margin-top: 4% ;
}


.quick-action{
  margin: 4%;
  border: 2px solid rgb(253, 235, 208);
  border-radius: 4%;
  padding: 2%;
  width: fit-content;
}

.quick-nav {
  margin: 4%;
  font-size: 2px;
  width: fit-content;
}

.quick-action h1{
  text-align: center;
  color: #276D8D;
}
.confirmed-projects{
  border: 2px solid rgb(253, 235, 208);
  margin: 2%;
  width: 40%;
  padding: 2%;
  border-radius: 2%;
}

.confirmed-projects h4{
  font-size: 15px;
  text-align:center;
}

.table-content{
  margin: 2%;
  padding: 2%;
}

.main-dashboard{
  display: flex;
  flex-direction: row;
}

.main-dashboard div{
  width: fit-content;
  margin-left: 4%;
}



